
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
}

.mcard{
  margin:5%;
  padding:1%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  width: 60%;
  backdrop-filter: blur(5px);
}
@media only screen and (max-width: 1000px) {
.mcard{
  width: 90%;
}
}